<div class="banner">
  <div class="big-title">
    <span class="title">SPORT<b>BUDDY</b></span>
    <h3>Pour ne plus faire du sport seul</h3>
  </div>
</div>
<div class="wrapper">
  <div class="row">
    <img src="../assets/images/basket.svg" alt="">
    <div class="description">
      <h2>Un système d'organisation d'événements</h2>
      <span>Vous pouvez à tout moment créer votre événement, choisir le sport, le lieu, le nombre de participants, etc ...</span>
    </div>
  </div>
  <div class="row">
    <div class="description">
      <h2>Un concept 2 en 1</h2>
      <span>Vous pouvez à tout moment créer votre événement, choisir le sport, le lieu, le nombre de participants, etc ...</span>
    </div>
    <img src="../assets/images/jogging.svg" alt="">
  </div>
  <div class="row">
    <img src="../assets/images/soccer.svg" alt="">
    <div class="description">
      <h2>Un choix de sports multiple</h2>
      <span>Vous pouvez à tout moment créer votre événement, choisir le sport, le lieu, le nombre de participants, etc ...</span>
    </div>
  </div>
</div>
