<div class="banner">
  <div class="big-title">
    <span class="title">SPORT<b>BUDDY</b></span>
    <h3>To stop doing sports alone</h3>
  </div>
</div>
<div class="wrapper">
  <div class="row">
    <img src="../assets/images/basket.svg" alt="">
    <div class="description">
      <h2>A system for organizing events</h2>
      <span>You can create your event at any time, choose the sport, the place, the number of participants, etc...</span>
    </div>
  </div>
  <div class="row">
    <div class="description">
      <h2>A 2 in 1 concept</h2>
      <span>You can create your event at any time, choose the sport, the place, the number of participants, etc...</span>
    </div>
    <img src="../assets/images/jogging.svg" alt="">
  </div>
  <div class="row">
    <img src="../assets/images/soccer.svg" alt="">
    <div class="description">
      <h2>Multiple sports choices</h2>
      <span>You can create your event at any time, choose the sport, the place, the number of participants, etc...</span>
    </div>
  </div>
</div>
