<div class="sport-radio">
  <label for="basketball">
    <input type="radio" name="rating" class="basketball" id="basketball" value="basketball" />
    <fa-icon [icon]="basketballIcon" size="2x"></fa-icon>
  </label>

  <label for="tennis">
    <input type="radio" name="rating" class="tennis" id="tennis" value="tennis" />
    <fa-icon [icon]="tennisIcon" size="2x"></fa-icon>
  </label>

  <label for="football">
    <input type="radio" name="rating" class="football" id="football" value="football" checked />
    <fa-icon [icon]="footballIcon" size="2x"></fa-icon>
  </label>

  <label for="sad1">
    <input type="radio" name="rating" class="sad" id="sad1" value="sad1" />
    <fa-icon [icon]="runningIcon" size="2x"></fa-icon>
  </label>
</div>
