.bet-card {
  padding: 16px 32px;
  margin: 0 auto;
  background: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(149, 157, 165, 0.2);
}

.top, .infos, .bet_buttons {
  background: none;
  height: 33%;
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
}


.infos, .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.date {
  text-align: right;
}
.infos span:first-child, .date span:first-child {
  font-weight: normal;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background: #61d2ff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    background: white;
    outline: 2px solid #61d2ff;
    outline-offset: -2px;
    color:#61d2ff;
  }
}
