<div class="event-card" *ngIf="router == '/profile'">
  <div class="content">
    <div class="top">
      <fa-icon [icon]="ball(this.event.sport)" size="2x" [styles]="{'color': 'black'}"></fa-icon>
      <div class="date">
        <span>27 Aug</span>
        <span>13:30</span>
      </div>
    </div>
    <div class="infos" style="text-align: center;">
      <span>{{event.sport}}</span>
      <span>{{event.title}}</span>
    </div>
    <div class="event_buttons">
      <div class="button">Voir plus</div>
    </div>
  </div>
</div>

<div class="event-card" *ngIf="router == '/events'">
  <div class="content">
    <div class="top">
      <fa-icon [icon]="ball(this.event.sport)" size="2x" [styles]="{'color': 'black'}"></fa-icon>
      <div class="date">
        <span>27 Aug</span>
        <span>13:30</span>
      </div>
    </div>
    <div class="infos">
      <span>{{event.sport}}</span>
      <span>{{event.title}}</span>
    </div>
    <div class="event_buttons">
      <div class="button">Voir plus</div>
      <div class="button">Participer</div>
    </div>
  </div>
  <!--<div class="map">
      <app-map [event]="this.event"></app-map>
  </div>-->
</div>

