<div class="wrapper">
  <h1>Hello, <b>{{ currentUser.pseudo }}</b></h1>
  <div class="container">
    <div class="events-container">
      <h3>Your upcoming events</h3>
      <div class="row">
        <div class="events">
          <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
        </div>
        <a routerLink="/events/new" routerLinkActive="active-link" class="cat">
          <div class="new-event-button">
            <fa-icon [icon]="plusIcon" size="4x"></fa-icon>
            <span>Create an event</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
