<div class="container">
  <h2>{{event.title}}</h2>
  <div class="sides">
    <div class="left">
      <h3>{{event.sport}} event</h3>
      <span>Will take place on <b>{{getDay()}}/{{getMonths()}}/{{getYear()}}</b></span>
      <span>Hosted by <b>{{creatorFirstName}}</b></span>
      <span>Participants (<b>{{event.peopleCount}}</b> remaining places) : </span>
      <div class="participants">
        <div class="participant" *ngFor="let participant of participants; let indexofelement=index;">
          <div class="image">
            <img src="{{this.icons[indexofelement]}}" alt="">
          </div>
          <div class="names">
            <span>{{participant.firstName}}</span>
            <span>{{participant.lastName}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <span>Address of the event : <b>{{nbr}} {{street}}, {{arrondissement}}</b></span>
    </div>
  </div>
  <div class="inputBox" style="justify-content: center;">
    <button (click)="handleParticipate()">Participe</button>
  </div>
</div>
