<div class="container">
  <h2>Match de Foot à 11 (Titre)</h2>
  <div class="sides">
    <div class="left">
      <h3>Événement de Football (Sport)</h3>
      <span>Aura lieu le <b>12/11/2022</b></span>
      <span>Organisé par <b>Théotime (creator.firstName)</b></span>
      <span>Participants (<b>5</b> places restantes) : </span>
      <div class="participants">
        <div class="participant">
          <div class="image">
            <img src="../../assets/images/Basketball.png" alt="">
          </div>
          <div class="names">
            <span>José</span>
            <span>Martinez</span>
          </div>
        </div>
        <div class="participant">
          <div class="image">
            <img src="../../assets/images/Tennis.png" alt="">
          </div>
          <div class="names">
            <span>Martin</span>
            <span>Follicu</span>
          </div>
        </div>
        <div class="participant">
          <div class="image">
            <img src="../../assets/images/Running.png" alt="">
          </div>
          <div class="names">
            <span>Arnaud</span>
            <span>Mouloumbou</span>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <span>Adresse de l'événement : <b>19 bd de la Somme</b></span>
      <span>Dans l'idéal mettre la map avec le marker sur l'endroit</span>
    </div>
  </div>
  <div class="inputBox" style="justify-content: center;">
    <button>Je participe</button>
  </div>
</div>
