<div class="container">
  <form class="loginForm"
        name="form"
        (ngSubmit)="f.form.valid && handleRegister()"
        #f="ngForm"
        novalidate>
    <div class="formBox">
      <h1>Join, SPORT<b>BUDDY</b></h1>
      <div class="inputBox form-group">
        <input name="pseudo"
               class="form-control"
               type="text"
               [(ngModel)]="form.pseudo"
               required
               minlength="4"
               maxlength="15"
               #pseudo="ngModel"
        />
        <span>Pseudo</span>
        <div class="alert-danger" *ngIf="pseudo.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="pseudo.errors.required">Pseudo is required</div>
          <div *ngIf="pseudo.errors.minlength">
            The pseudo must be at least 4 characters long
          </div>
          <div *ngIf="pseudo.errors.maxlength">
            The pseudo must be at most 15 characters long
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="firstName"
               class="form-control"
               type="text"
               [(ngModel)]="form.firstName"
               required
               minlength="2"
               maxlength="15"
               #firstName="ngModel"
        />
        <span>Prénom</span>
        <div class="alert-danger" *ngIf="firstName.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="firstName.errors.required">First name is required</div>
          <div *ngIf="firstName.errors.minlength">
            The first name must be at least 2 characters long
          </div>
          <div *ngIf="firstName.errors.maxlength">
            The first name must be at most 15 characters long
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="lastName"
               class="form-control"
               type="text"
               [(ngModel)]="form.lastName"
               required
               minlength="2"
               maxlength="15"
               #lastName="ngModel"
        />
        <span>Nom de famille</span>
        <div class="alert-danger" *ngIf="lastName.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="lastName.errors.required">Last name is required</div>
          <div *ngIf="lastName.errors.minlength">
            The last name must be at least 2 characters long
          </div>
          <div *ngIf="lastName.errors.maxlength">
            The last name must be at most 15 characters long
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="email"
               type="text"
               [(ngModel)]="form.email"
               required
               email
               #email="ngModel"
        />
        <span>Email</span>
        <div class="alert-danger" *ngIf="email.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid address
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="password"
               type="password"
               [(ngModel)]="form.password"
               required
               minlength="3"
               #password="ngModel"
        />
        <span>Mot de passe</span>
        <div class="alert-danger" *ngIf="password.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            The pseudo must be at least 3 characters long
          </div>
        </div>
      </div>
      <button class="form-group">Sign up</button>
      <div class="form-group" *ngIf="f.submitted">
        {{this.errorMessage}}
      </div>
    </div>
  </form>
</div>
