<div class="container">
  <form class="loginForm"
        name="form"
        (ngSubmit)="f.form.valid && handleRegister()"
        #f="ngForm"
        novalidate>
    <div class="formBox">
      <h1>Rejoignez, SPORT<b>BUDDY</b></h1>
      <div class="inputBox form-group">
        <input name="pseudo"
               class="form-control"
               type="text"
               [(ngModel)]="form.pseudo"
               required
               minlength="4"
               maxlength="15"
               #pseudo="ngModel"
        />
        <span>Pseudo</span>
        <div class="alert-danger" *ngIf="pseudo.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="pseudo.errors.required">Le pseudo est requis</div>
          <div *ngIf="pseudo.errors.minlength">
            Le pseudo doit faire au moins 4 caractères
          </div>
          <div *ngIf="pseudo.errors.maxlength">
            Le pseudo doit faire au plus 15 caractères
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="firstName"
               class="form-control"
               type="text"
               [(ngModel)]="form.firstName"
               required
               minlength="2"
               maxlength="15"
               #firstName="ngModel"
        />
        <span>Prénom</span>
        <div class="alert-danger" *ngIf="firstName.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="firstName.errors.required">Le prénom est requis</div>
          <div *ngIf="firstName.errors.minlength">
            Le prénom doit faire au moins 2 caractères
          </div>
          <div *ngIf="firstName.errors.maxlength">
            Le prénom doit faire au plus 15 caractères
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="lastName"
               class="form-control"
               type="text"
               [(ngModel)]="form.lastName"
               required
               minlength="2"
               maxlength="15"
               #lastName="ngModel"
        />
        <span>Nom de famille</span>
        <div class="alert-danger" *ngIf="lastName.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="lastName.errors.required">Le nom de famille est requis</div>
          <div *ngIf="lastName.errors.minlength">
            Le nom de famille doit faire au moins 2 caractères
          </div>
          <div *ngIf="lastName.errors.maxlength">
            Le nom de famille doit faire au plus 15 caractères
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="email"
               type="text"
               [(ngModel)]="form.email"
               required
               email
               #email="ngModel"
        />
        <span>Email</span>
        <div class="alert-danger" *ngIf="email.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="email.errors.required">Email est requis</div>
          <div *ngIf="email.errors.email">
            Email doit etre une adresse valide
          </div>
        </div>
      </div>
      <div class="inputBox form-group">
        <input name="password"
               type="password"
               [(ngModel)]="form.password"
               required
               minlength="3"
               #password="ngModel"
        />
        <span>Mot de passe</span>
        <div class="alert-danger" *ngIf="password.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="password.errors.required">Password est requis</div>
          <div *ngIf="password.errors.minlength">
            Password doit faire au moins 3 caractères
          </div>
        </div>
      </div>
      <button class="form-group">Créer un compte</button>
      <div class="form-group" *ngIf="f.submitted">
        {{this.errorMessage}}
      </div>
    </div>
  </form>
</div>
