<nav>
  <a routerLink="/" routerLinkActive="active-link" class="logo">SPORT<b>BUDDY</b></a>
  <a routerLink="/events" routerLinkActive="active-link" class="cat">Evenements</a>
  <a *ngIf="isConnected" routerLink="/profile" routerLinkActive="active-link" class="cat">Profile</a>
  <a *ngIf="!isConnected" routerLink="/login" routerLinkActive="active-link" class="cat">Se connecter</a>
  <a *ngIf="!isConnected" routerLink="/register" routerLinkActive="active-link" class="cat">S'inscrire</a>
  <button *ngIf="isConnected" (click)="handleLogOut()">Log out</button>
</nav>
