nav {
  top: 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background: black;
  color: white;
}

.logo {
  font-size: 24px;
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  padding: 12px 0px;
}

nav .cat:hover::before {
  transform: scale(1);
}

nav .cat::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #61d2ff;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
