<div class="container">
  <form class="loginForm"
  (ngSubmit)="f.form.valid && handleLogIn()"
  #f="ngForm"
  novalidate>
    <div class="formBox">
      <h1>Log in to SPORT<b>BUDDY</b></h1>
      <div class="inputBox form-group">
        <input name="pseudo"
               class="form-control"
               type="text"
               [(ngModel)]="form.pseudo"
               required
               minlength="4"
               maxlength="15"
               #pseudo="ngModel"
        />
        <span>Pseudo</span>
        <div class="alert-danger" *ngIf="pseudo.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="pseudo.errors.required">Pseudo is required</div>
          <div *ngIf="pseudo.errors.minlength">
            The pseudo must be at least 4 characters long
          </div>
          <div *ngIf="pseudo.errors.maxlength">
            The pseudo must be at most 15 characters long
          </div>
        </div>
      </div>
      <div class="form-group inputBox">
        <input name="password"
               class="form-control"
               type="password"
               [(ngModel)]="form.password"
               required
               minlength="3"
               #password="ngModel"
        />
        <span>Mot de passe</span>
        <div class="alert-danger" *ngIf="password.errors && f.submitted" style="color: rgb(247, 55, 55)">
          <div *ngIf="password.errors.required">The password is required</div>
          <div *ngIf="password.errors.minlength">
            The pseudo must be at least 3 characters long
          </div>
        </div>
      </div>
      <button class="form-group">Log In</button>
      <div class="form-group" *ngIf="f.submitted">
        {{this.errorMessage}}
      </div>
    </div>
  </form>
</div>
