<form class="event-form" action="">
  <div class="form-field">
    <h3>Choisissez votre sport</h3>
    <app-sport-radio-buttons (newSportValue)="changeSport($event)"></app-sport-radio-buttons>
  </div>
  <div class="form-field">
    <h3>Donner un titre à votre événement</h3>
    <div class="inputBox">
      <input name="title" type="text" (input)="updateTitle($event)" required />
      <span>Ex. Match de foot à 11</span>
    </div>
  </div>
  <div class="form-field">
    <h3>Choisissez la date</h3>
    <mat-form-field style="width: 100%;">
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-field">
    <h3>Choisissez l'heure</h3>
    <mat-form-field appearance="fill">
      <mat-label>Heure</mat-label>
      <select matNativeControl>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Minute</mat-label>
      <select matNativeControl>
        <option value="00">00</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
        <option value="55">55</option>
      </select>
    </mat-form-field>
  </div>
  <div class="form-field">
    <h3>Choisissez le lieu</h3>
    <h4>Vous avez choisi: <span style="font-weight: normal;">{{this.locationName}}</span></h4>
    <div class="map-container" id="new-event">
      <app-map [event]="this.event" [locations]="this.locations" (selectedLocation)="handleSelectedLocation($event)"></app-map>
    </div>
  </div>
  <div class="form-field">
    <h3>Choisissez le nombre de personnes 19</h3>
    <div class="rangeinput">
      <span class="value">{{rangeValue}}</span>
      <input (input)="updateValue($event)" type="range" min="2" max="30" step="1" value="2">
    </div>
  </div>
  <div class="inputBox">
    <button (click)="addEvent()">C'est parti!</button>
  </div>
</form>
