.container {
  margin-top: 10vh;
  padding: 0 10vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  h1 {
    margin-bottom: 32px;
  }
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  justify-content: center;
  align-content: center;
}
