@import '../../assets/scss/colors.scss';

.match-parent {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:yellow;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  div > div > button {
    cursor: pointer;
    width: 50%;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    background: $primary;
    color: $white;
    border-radius: 8px;
    font-weight: normal;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}
